@model List<MelomanClone.Models.Order>

<h2>My Orders</h2>

@if (!Model.Any())
{
    <p>You have no orders.</p>
}
else
{
    @foreach (var order in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Order #@order.Id —
                @order.CreatedAt.ToLocalTime()
            </div>

            <div class="card-body">
                <ul>
                    @foreach (var item in order.Items)
                    {
                        <li>
                            @item.ProductTitle —
                            @item.Quantity x @item.Price ₸
                        </li>
                    }
                </ul>

                <strong>Total: @order.TotalPrice ₸</strong>
            </div>
        </div>
    }
}
