@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Success"]
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
}

@model List<MelomanClone.Models.Product>

<h2 class="mb-3">Admin – Products</h2>

<a class="btn btn-success mb-3" asp-action="CreateProduct">
    + Add Product
</a>

<a asp-action="ExportProductsToExcel"
   class="btn btn-outline-success mb-3">
    Download Excel
</a>


<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Category</th>
            <th width="180">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Title</td>
                <td>@p.Price ₸</td>
                <td>@p.Category?.Name</td>
                <td>
                    <a class="btn btn-warning btn-sm"
                       asp-action="Edit"
                       asp-route-id="@p.Id">Edit</a>

                    <a class="btn btn-danger btn-sm"
                       asp-action="Delete"
                       asp-route-id="@p.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
